body {
    background-color: #EEE;
    font-family: 'Ariel', 'Helvetica', sans-serif;
    color: #555;
}

h1 {
    color: #222;
}

.showcase-view {
    margin: auto;
    width: 50%;
    padding-top: 20%;
}